html {
    scroll-behavior: smooth;
}
#navbar{ 
    background-color: whitesmoke;
    z-index: 1;
}

.nav-link{
    font-size: 1em;
    font-family: 'IBM Plex Serif', serif;
    z-index: 1;
    
}
.nav-link:link{
    text-decoration: none;
    color: black
}
.nav-link:visited {
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #005f4b;
    text-underline-offset: -1px;
    text-decoration-skip-ink: none;
}
.nav-link:active {
    text-decoration: underline;
    color: black;
}


body{
    overflow-x: hidden;
    width:100%;
    min-width: 300px;
}
#page-home {
    height: 100vh;
    background-color: #005f4b;
    display: flex;
    align-items: center;
}
#page-home img {
    position: flex;
    align-items: center;
}
#page-title{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 4em;
    color: whitesmoke;
    margin-left: 30px;

}

h3 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3em;
    color: whitesmoke;
    margin-left: 40px;
}

#intro{
    height: 120vh;
    width: 100%; 
    padding-top: 20px;
    background-color: whitesmoke;
    padding-left: 40px;
}
#intro h3{
    text-align: left;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 2.6em;
    color: #005f4b;
}
#intro p{
    text-align: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3em; 
    padding-right: 20px;
}
#intro img {
    display: flex;
    margin-left: 60px;
}


#work{
    height: 90vh;
    background-color:#005f4b;
    padding-top: 30px;
}
#work h3{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    padding-top: 30px;
}
#work .row {
    padding-top: 30px;
}
#work img{
    border: solid 5px;
    border-radius: 3px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #005f4b;
    color: whitesmoke;
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
a.button:hover {
    background-color:whitesmoke;
    color: black;
    border: solid 4px #005f4b;
    text-decoration: none;
}


#contact{
    height: 50vh;
    background-color: whitesmoke;
    padding-top: 50px;
}
#contactme {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 3em;
    color: #005f4b;
    padding-right: 40px;
}
#contact p{
    vertical-align: middle;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2em; 
}
#contact h6{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1.5em;
}
#contact a{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1.5em;
    color: black;
}
#contact a:hover{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #005f4b;
    text-underline-offset: -1px;
    text-decoration-skip-ink: none;
}
i {
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
}
.fa-linkedin {   
    color: #0a66c2;
}


footer{
    height: 30vh;
    padding-top: 10px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1em; 
    color: whitesmoke;
    background-color: #005f4b;
}


#home-link {
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    #page-home img {
        display: none;
    }
    #intro {
        height: 180vh;
    }
    #intro img {
        display: none;
    }
    #work{
        height: 120vh;
    }
    #work .col-sm{
       padding: 10px;
    }
    #contact {
        height: 60vh;
    }
}

@media screen and (max-width: 900px) {
    #about img{
        display: none;
    }
    #about{
        height: 50vh;
    }
}

@media only screen and (orientation: landscape ) and (max-width: 741px){
    #intro {
        height: 230vh;
    }
    #work{
        height: 180vh;
    }
    #work .col-sm{
       padding: 10px;
    }
    #contact {
        height: 100vh;
    }
    footer{
        height: 50vh;
    }
  }
